@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root .radix-themes {
  --default-font-family: var(--font-ibm-plex);
  --code-font-family: 'Berkeley Mono', Menlo, Consolas, monospace;
}

.repository-listing {
  color: var(--accent-13);
  display: block;
  text-decoration: none;
  margin: 0;
}

.repository-title {
  text-decoration: underline;
}

.repository-title:hover {
  text-decoration: none;
}