/* Landing Page Styles */
/* 
TODO: This causes an error:

Syntax error: Selector "body" is not pure (pure selectors must contain at least one local class or id)

> 2 | body {
    | ^
  3 |   margin: 0;
  4 | }

body {
  margin: 0;
} */
.landing {
  background: var(--gray-3);
  max-width: none;
  border: 1px solid var(--gray-7);
  border-top: 0;
  border-bottom: 0;
}

.subheading {
  text-transform: uppercase;
  font-family: var(--heading-font-family);
}

.partnerLogos {
  border: 1px dashed var(--gray-9);
  border-left: none;
  border-right: none;
}
.heroContent {
  min-width: 60ch;
}
.heroImage {
  mix-blend-mode: difference;
}
.sectionDark {
  background: var(--gray-12);
  color: var(--gray-1);
}
.tout {
  padding-block: 2rem;
  border-top: 1px solid var(--gray-7);
}
.toutPrice p:first-of-type {
  font-family: "Berkeley Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}
.toutHost p:first-of-type {
  font-size: 8rem;
  line-height: 100%;
  margin: 0;
}
