name: Deploy Infrastructure

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - main
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: The environment to deploy to
        default: dev

jobs:
  deploy:
    environment: ${{ github.event_name == 'workflow_dispatch' && inputs.environment || (github.event_name == 'release' && 'Production' || 'Development') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 22
          cache: npm
      - run: npm ci --include=dev
      - name: Set vars to env
        env:
          VARS_JSON: ${{ toJSON(vars) }}
        run: |
          echo "$VARS_JSON" | jq -r 'keys[] as $k | "\($k)=\(.[$k])"' >> $GITHUB_ENV
      - name: CDK Deploy
        run: npx cdk deploy --all --require-approval never